<button (click)="randPokemon()" value="Let's go!">Click for random pokemon</button>

<div *ngIf="pokemon">
  <h1 class="title">#{{pokemon.id}} {{pokemon.name}} </h1>
  <h3>
    <span>{{pokemon.types[0].type.name}}&nbsp;</span>
    <span *ngIf="pokemon.types[1]">{{pokemon.types[1].type.name}}&nbsp;</span>
    <span *ngIf="pokemon.types[2]">{{pokemon.types[2].type.name}}&nbsp;</span>
    <span *ngIf="pokemon.types[3]">{{pokemon.types[3].type.name}}&nbsp;</span>
    type
  </h3>

  <div class="row">
    <div class="col sprites">
      <h3 class="title">Normal:</h3>
      <p>
        <span>&#9794;</span>
        <img src="{{pokemon.sprites.front_default}}" />
        <img src="{{pokemon.sprites.back_default}}" />

      </p>
      <p *ngIf="pokemon.sprites.front_female">
        <span>&#9792;</span>
        <img src="{{pokemon.sprites.front_female}}" />
        <img src="{{pokemon.sprites.back_female}}" />


      </p>
    </div>

    <div *ngIf="pokemon.sprites.front_shiny" class="col sprites">
      <h3 class="title">Shiny:</h3>
      <p>
        <span>&#9794;</span>
        <img src="{{pokemon.sprites.front_shiny}}" />
        <img src="{{pokemon.sprites.back_shiny}}" />

      </p>

      <p *ngIf="pokemon.sprites.front_shiny_female">
        <span>&#9792;</span>
        <img src="{{pokemon.sprites.front_shiny_female}}" />
        <img src="{{pokemon.sprites.back_shiny_female}}" />
       </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2 class="title">Stats:</h2>
      <p>
        Height: {{(pokemon.height*4 )/12}}"
      </p>
      <p>
        Weight: {{pokemon.weight/4.6}}lbs
      </p>
      <p>
        Base exp: {{pokemon.base_experience}}
      </p>
    </div>

    <div class="col">
      <h2 class="title">Abilities:</h2>
      <div class="col">
        <p>{{pokemon.abilities[0].ability.name}}</p>
        <a *ngIf="pokemon.abilities[1]" (click)="getPokemonAbilitiesByName(pokemon.abilities[1].ability.name)">{{pokemon.abilities[1].ability.name}}</a>
        <p *ngIf="pokemon.abilities[2]">{{pokemon.abilities[2].ability.name}}</p>
        <p *ngIf="pokemon.abilities[3]">{{pokemon.abilities[3].ability.name}}</p>
        <p>{{pokemon.abilities[3].ability.url.effect}}</p>
      </div>
    </div>

  </div>
</div>
